:root {
    --button-color: #012A4A;
}

.forgot-password-container {
    width: 100%;
    max-width: 400px;
    background: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    margin-left: 33%;
    margin-top: 10%;
}

.forgot-password-title {
    margin-bottom: 20px;
    color: #333;
}

.forgot-password-form {
    display: flex;
    flex-direction: column;
}

.forgot-password-input {
    width: 95%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 15px;
}

.forgot-password-button {
    width: 100%;
    padding: 10px;
    background: var(--button-color);
    border: none;
    color: white;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    transition: background 0.3s ease;
}

.forgot-password-button:hover {
    background-color: #e65a50;
}

.forgot-password-message {
    margin-top: 30px;
    color: black;
}

/* Dark Mode */

body.dark-mode .forgot-password-container {
    background: var(--card-background);
}

body.dark-mode .forgot-password-title {
    color: var(--input-text-color);
}

body.dark-mode .forgot-password-message {
    color: var(--input-text-color);
}