
.login-container {
    width: 100%;
    max-width: 400px;
    background: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    margin-left: 33%;

}

.login-title {
    margin-bottom: 20px;
    color: #333;
}

/* Input mezők */
.login-form {
    display: flex;
    flex-direction: column;

}

.login-input {
    width: 95%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 15px;
}

/* Gomb */
.login-button {
    width: 100%;
    padding: 10px;
    background: #ff6f61;
    border: none;
    color: white;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    transition: background 0.3s ease;
}

.login-button:hover {
    background-color: #e65a50;
}

/* Alternatív opció szöveg */
.login-text {
    margin-top: 10px;
    color: black;
}

.signup-link {
    color: #007bff;
    text-decoration: none;
}

.signup-link:hover {
    text-decoration: underline;
}


/*Dark Mode*/

.dark-mode {
    --background-color: #121212;
    --text-color: #ffffff;
    --navbar-background: #302d2d;
    --switch-background: #151515;
    --switch-handle: #3c3c3c;
    --button-background: #1e90ff;
    --button-text-color: #ffffff;
    --card-background: #1f1f1f;
    --card-border-color: #333333;
    --input-background: #333333;
    --input-border-color: #555555;
    --input-text-color: #ffffff;
  }