:root{
    --button-color: #012A4A;
}
.login-container {
    width: 100%;
    max-width: 400px;
    background: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    margin-left: 33%;
    margin-top: 10%;

}

.login-title {
    margin-bottom: 20px;
    color: #333;
}

/* Input mezők */
.login-form {
    display: flex;
    flex-direction: column;

}

.login-input {
    width: 95%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 15px;
}

/* Gomb */
.login-button {
    width: 100%;
    padding: 10px;
    background: var(--button-color);
    border: none;
    color: white;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    transition: background 0.3s ease;
}

.login-button:hover {
    background-color: #e65a50;
}

/* Alternatív opció szöveg */
.login-text {
    margin-top: 30px;
    color: black;
}

.signup-link {
    color: #007bff;
    text-decoration: none;
}

.signup-link:hover {
    text-decoration: underline;
}


/* Regisztrációs doboz */
.signup-container {
    width: 100%;
    max-width: 400px;
    background: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    margin-left: 33%;
    margin-top: 10%;
}

/* Cím */
.signup-title {
    margin-bottom: 20px;
    color: #333;
}

/* Input mezők */
.signup-form {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.signup-input {
    width: 95%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 15px;
}

/* Gomb */
.signup-button {
    width: 100%;
    padding: 10px;
    background: var(--button-color);
    border: none;
    color: white;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    transition: background 0.3s ease;
}

.signup-button:hover {
    background-color: #e65a50;
}

/* Alternatív opció szöveg */
.signup-text {
    margin-top: 10px;
}

.login-link {
    color: #007bff;
    text-decoration: none;
}

.login-link:hover {
    text-decoration: underline;
}










/*Dark Mode*/

body.dark-mode{
    --button-color: #1c3294;
}

.login-container {
    background: var(--card-background);
}

.login-title {
    color: var(--input-text-color);
}
.login-text {
    color: var(--input-text-color);
}

/*dark mode sign upra*/


.signup-container {
    background: var(--card-background);
}

.signup-title {
    color: var(--input-text-color);
}
.signup-text {
    color: var(--input-text-color);
}



/*mobile first*/

