:root {
    /* Light mode defaults */
    --background-color: #f8f8f8;
    --text-color: #333333;
    --navbar-background: rgba(231, 222, 222, 0.8);
    --button-background: #013A63;
    --card-background: rgb(233, 233, 233);
    --input-background: rgba(255, 255, 255, 0.8);
    --primary-color: #2C7DA0;
    --secondary-text-color: #6e6e73;
    --card-shadow-color: rgba(0, 0, 0, 0.05);
    --primary-final-color: #014F86;
    --button-color: #012A4A;
    --button-background-icon: #0c3f50;
    --button-moon-color: #2a5372;
    --button-moon-spark-color: #88adb9;

--star-color: rgb(70, 190, 211);
}

/* Dark mode overrides */
body.dark-mode {
    --background-color: #1a1a1a; /* Sötétebb háttér */
    --text-color: #e0e0e0; /* Világosabb szöveg */
    --navbar-background: #2a2a2a; /* Sötét, de nem fekete */
    --button-background: #01497c; /* Világosabb kék */
    --card-background: #2c2c2c; /* Sötét kártya háttér */
    --input-background: #333333; /* Sötét input mezők */

    --secondary-text-color: #b0b0b0;
    --card-shadow-color: rgba(255, 255, 255, 0.05);
    --background-color: #121212;
    --text-color: #ffffff;
    --navbar-background: #302d2d;
    --switch-background: #151515;
    --switch-handle: #3c3c3c;
    --button-text-color: #ffffff;
    --card-background: #1f1f1f;
    --card-border-color: #333333;
    --input-background: #333333;
    --input-border-color: #555555;
    --input-text-color: #ffffff;

    --primary-color: #2a9df4;
    --primary-hover-color: #ff8a7a;
    --primary-shadow-color: rgba(255, 111, 97, 0.2);
    --secondary-text-color: #a8a8a8;
    --card-shadow-color: rgba(0, 0, 0, 0.1);
    --hero-gradient-start: rgba(18, 18, 18, 0.9);
    --hero-gradient-end: rgba(31, 31, 31, 0.9);
    --primary-final-color: #1c6ea4;
    --button-background-icon: #7ba5b3;
    --button-moon-color: #698fac;
    --button-moon-spark-color: #97b9c4;

    --button-color: #013a63;
    --star-color: #ffffff;

}



/* From Uiverse.io by MuhammadHasann */ 
button {
    position: relative;
    padding: 12px 35px;
    background: var(--button-background);
    font-size: 17px;
    font-weight: 500;
    color: white;
    border: 3px solid var(--button-color);
    border-radius: 8px;
    box-shadow: 0 0 0 var(--button-moon-color);
    transition: all 0.3s ease-in-out;
    cursor: pointer;
    margin-top: 20px;
  }
  
  .star-1 {
    position: absolute;
    top: 20%;
    left: 20%;
    width: 25px;
    height: auto;
    filter: drop-shadow(0 0 0 white);
    z-index: -5;
    transition: all 1s cubic-bezier(0.05, 0.83, 0.43, 0.96);
  }
  
  .star-2 {
    position: absolute;
    top: 45%;
    left: 45%;
    width: 15px;
    height: auto;
    filter: drop-shadow(0 0 0 white);
    z-index: -5;
    transition: all 1s cubic-bezier(0, 0.4, 0, 1.01);
  }
  
  .star-3 {
    position: absolute;
    top: 40%;
    left: 40%;
    width: 5px;
    height: auto;
    filter: drop-shadow(0 0 0 white);
    z-index: -5;
    transition: all 1s cubic-bezier(0, 0.4, 0, 1.01);
  }
  
  .star-4 {
    position: absolute;
    top: 20%;
    left: 40%;
    width: 8px;
    height: auto;
    filter: drop-shadow(0 0 0 white);
    z-index: -5;
    transition: all 0.8s cubic-bezier(0, 0.4, 0, 1.01);
  }
  
  .star-5 {
    position: absolute;
    top: 25%;
    left: 45%;
    width: 15px;
    height: auto;
    filter: drop-shadow(0 0 0 white);
    z-index: -5;
    transition: all 0.6s cubic-bezier(0, 0.4, 0, 1.01);
  }
  
  .star-6 {
    position: absolute;
    top: 5%;
    left: 50%;
    width: 5px;
    height: auto;
    filter: drop-shadow(0 0 0 white);
    z-index: -5;
    transition: all 0.8s ease;
  }
  
  button:hover {
    background: var(--primary-final-color);
    color: white;
    box-shadow: 0 0 25px var(--background-color);
  }
  
  button:hover .star-1 {
    position: absolute;
    top: -80%;
    left: -30%;
    width: 25px;
    height: auto;
    filter: drop-shadow(0 0 10px var(--star-color));
    z-index: 2;
  }
  
  button:hover .star-2 {
    position: absolute;
    top: -25%;
    left: 10%;
    width: 15px;
    height: auto;
    filter: drop-shadow(0 0 10px var(--star-color));
    z-index: 2;
  }
  
  button:hover .star-3 {
    position: absolute;
    top: 55%;
    left: 25%;
    width: 5px;
    height: auto;
    filter: drop-shadow(0 0 10px var(--star-color));
    z-index: 2;
  }
  
  button:hover .star-4 {
    position: absolute;
    top: 30%;
    left: 80%;
    width: 8px;
    height: auto;
    filter: drop-shadow(0 0 10px var(--star-color));
    z-index: 2;
  }
  
  button:hover .star-5 {
    position: absolute;
    top: 25%;
    left: 115%;
    width: 15px;
    height: auto;
    filter: drop-shadow(0 0 10px #fffdef);
    z-index: 2;
  }
  
  button:hover .star-6 {
    position: absolute;
    top: 5%;
    left: 60%;
    width: 5px;
    height: auto;
    filter: drop-shadow(0 0 10px #fffdef);
    z-index: 2;
  }
  
  .fil0 {
    fill: var(--star-color);
  }
  